* {
    background-color: white;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.form input {
    border-radius: 3px;
}

.form select {
    border-radius: 3px;
}

.form {
    border-radius: 3px;
}

.form button {
    border-radius: 3px;
}